@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Default style */
*{
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
}
.btn{
   color: #006a50;
   padding: 15px 38px;
   font-size: 18px;
   border-radius: 15px;
   border-color:#006a50;
   border-style:1px solid;
   font-family: fira  ;
}
.color-1{
  color: #6a7972;
}
/* nav-style */
nav{
   padding-top: 25px;
   padding-bottom: 25px;
   margin: 0 160px;
}
nav  ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li{
   list-style: none;
   font-size: 27px;
   font-family: fira sans;
   font-weight: bold;
}
nav li a{
  
}
/* *banner-style* */
.banner-hero{
  /* background-color: #c6e4d6; */
}
.banner{
  margin: 15px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4d6;
  border-radius: 15px;
  padding: 60px;
  height: 500px;

}
.banner img {
  /* background-color: #c6e4d6; */
}
.banner-item h4{
  font-size: 20.4px;
  font-weight: 500;
  font-family: fira sans;
  
}
.banner-item p{
  font-size: 47.6px;
  font-weight: bold;
  font-family: fira sans;
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner-btn{
    background-color: #006a50;
    padding: 14.45px 28.9px;
    border-style:none ;
    border-radius: 10px;
    font-size:15.3px ;
    color: white;
    font-family: fira sans;
}
/* pillars style */
#pillars{
  margin: 50px 160px;
 
}
.pillars-container h2{
  font-size: 40px;
  font-weight: bold;
  font-family: fira sans;
}
.pillars-discription{
   display: flex;
   gap: 20px;
   padding-top: 25px;

    
   
}
.pillars-content{
  padding: 38px;
  border:1px solid #ffffff;
  border-radius: 15px;
  background-color: #f5f5f5;
}
.pillars-content h3{
      font-size: 20px;
      font-family: fira sans;
      font-weight: bold;
      padding: 10px 0;
}
.pillars-content p{
  font-size: 20px;
}
/* future-style */
#future{
    margin: 80px 160px;
}
.future-container h1{
  font-size: 41px;
  font-family: fira sans;
  font-weight: bold;

}
.future-container p{
  font-size: 15px;
  font-weight: 400;
  font-family: fira sans;
  padding: 25px 0;
  line-height: 22px;
}
.future-description{
  display: flex;
  padding-top: 10px;
  gap: 20px;

}
.future-content-1{
  padding: 38px;
  border-radius: 15px;
  background-color: #a6c4f5;
}
.future-content-1 img ,.future-content-2 img ,.future-content-3 img {
  padding-bottom: 15px;
}
.future-content-1 h3,.future-content-2 h3 ,.future-content-3 h3{
      font-size: 20px;
      font-weight: bold;
      font-family: fira sans;  
}
.future-content-1 p ,.future-content-2 p , .future-content-3 p {
   font-size: 15px;
   font-weight: 400;
   font-family: fira sans;
   margin-top: -15px;
}
.future-content-1 .future-button{
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    font-family: fira sans;
    background-color: #5490f5;
    border-style: none;
    color: #ffffff;
    border-radius: 10px;
}
.future-content-2 .future-button{
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: fira sans;
  background-color: #09a15c;
  border-style: none;
  color: #ffffff;
  border-radius: 10px;
}
.future-content-3 .future-button{
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: fira sans;
  background-color: #ffc239;
  border-style: none;
  color: #ffffff;
  border-radius: 10px;
}

.future-content-2{
  padding: 38px;
  border-radius: 15px;
  background-color: #c6e4d6;
}
.future-content-3{
  padding: 38px;
  border-radius: 15px;
  background-color: #f7ebcf;
}
/* testimonial */
.icon{
  margin: 30px 160px;
  padding: 30px 30px;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  box-shadow: 1px 1px 0px #f5f5f5;
  position: relative;
  text-align: left;
}
.icon-symbol{
  
  font-size: 170px;
  color: #b7b7b7;
  position: absolute;
  top: -25px;
  left:25px;
  opacity: 0.5;
}
.sir{
  padding-top: 10px;
}
.icon-item p{
  font-size: 20px;
}
/* table-style */
#table-info{
  margin: 30px 160px; 
}
.table{
  text-align: center;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
/* news-style */
#news{
  margin: 50px 160px; 
}
.news-container{
        
}
.news-container h1{
   font-size: 40px;
   font-weight: bold;
   font-family: fira sans;
}
.news-container p{
   font-size: 18px;
   font-family: fira sans;
   font-weight: 400;
   padding: 15px 0;
}
.news-description{
   margin: 20px 0;
}

  
.news-items{
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 35px;
  padding: 20px 0;
  background-color: aliceblue;
  padding: 50px;
  border-radius: 12px;
 }
.news-items .news-img img{
  border-radius: 12px;
}
.news-content h1{
     font-size: 32px;
     font-weight: bold;
     font-family: fira sans;
     padding-bottom: 15px;
}
.news-content h4{
  padding-top: 10px;
}
.news-content .news-button{
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: fira sans;
  background-color: #006a50;
  border-style: none;
  color: #ffffff;
  border-radius: 10px;
}
/* Donate */
.donate-container{
    margin: 50px 160px;
    text-align: center ;
    justify-content: center;
    align-items: center;

}
.donate-container h1{
    font-size: 40px;
    font-weight: bold;
    font-family: fira sans;
    padding: 20px 0;
}
.donate-container p{
  font-size: 15px;
  font-family: fira sans;
  font-weight: 400;
}
.donate-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    

}
.donate-items li{
  list-style: none;
  
  font-size: 30px;
  font-family: fira sans;
  font-weight: bold;
  border-radius: 12px;
  padding: 25px 50px;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  
}
.donate-items li a{
  text-decoration: none;
}
.donate-items ul li:hover{
        background-color: #5490f5;
}
.donate-input{
  padding: 20px 320px;
  font-size: 22px;
  font-family: fira sans;
  font-weight: 400;
  /* border: 1px solid #dbdbdb; */
  background-color: #f5f5f5;
  border: none;
  box-shadow: 1px 1px  #dbdbdb;
  margin: 20px 0;
 
}
.donate-btn{
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: fira sans;
  background-color: #006a50;
  border-style: none;
  color: #ffffff;
  border-radius: 10px;
}
/* promise-style  */
#promise{
    margin: 30px 160px; 
    text-align: center;
    padding: 60px;
    background-color: #c6e4d6;
    border-radius: 15px;
  }
.promise-container{
  
}
.promise-container h1{
  font-size: 40px;
  font-family: fira sans;
  font-weight: bold;
  padding-bottom: 10px;
  
}
.promise-container p{
  font-size: 16px;
  font-family: fira sans;
  font-weight: 400;
  padding: 20px 0;
  opacity: .8;
}
.promise-content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
  padding:20px 0 ;
}
input[type="email"] {
    padding: 20px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 600px;
    

}
.promise-content .promise-btn{
  padding: 20px 20px;
  font-size: 15px;
  background-color: #006d4d; /* Dark green */
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
}
.promise-container h4{
  font-size: 15px;
  font-weight: 400;
  font-family: fira sans;
  padding-top: 22px;

}
/* footer-item */
.icon-icon{
  margin-top: 40px;
}
#footer-item{
  margin: 80px 160px;
  text-align: center;
}
.icon-icon{
  margin-top: 40px;
}


